<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div [ngStyle]="{
    'background':'#ccc',
    'border': '5px solid black',
    'border-color': color,
    'padding': '20px'
    
}">
    <h1>Welcome to angular html: {{title}} </h1>
    <hr/>
    <nav>
        <a [routerLink]="['/Home']" [routerLinkActive]="['active']">Home</a>
        <br/>
        <a [routerLink]="['shoe']" [routerLinkActive]="['active']">Shoes</a>
        <br/>
        <a [routerLink]="['videogame']" [routerLinkActive]="['active']">Videogames</a>
        <br/>
        <a [routerLink]="['cursos']" [routerLinkActive]="['active']">Cursos</a>
        <br/>
        <a [routerLink]="['external']" [routerLinkActive]="['active']">External Component</a>

    </nav>
    <hr/>

    <!--

    <button (click)="hideVideogames()">Hide Games</button>
    <videogame *ngIf="showVideogames"></videogame>

-->


    <router-outlet></router-outlet>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->