#logo {
    background: rgb(0, 179, 0);
}

#menu ul li:hover {
    background: rgb(0, 179, 0);
}

.button-more {
    background: rgb(0, 179, 0);
}

body {
    background: url('../images/green-background.jpg');
}