<div class="container" *ngIf="project._id">

    <h2>{{title}}</h2>

    <div id="deliverySuccess" *ngIf="status == 'success' && project._id">
        <p>The project has been created succesfully !
        </p>

        <p>You can see the project
            <a [routerLink]="['/project',saved_project._id]">here. </a>
        </p>
    </div>

    <div id="deliveryFailed" *ngIf="status == 'failed'">
        <p>The project had an issue!
        </p>
    </div>
    <form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">
        <p>
            <label for="name">Name</label>
            <br/>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" placeholder="Introduce the name..." required/>

            <span *ngIf="name.touched && !name.valid" class="unvalid">
                Name is required
            </span>

        </p>
        <p>
            <label for="description">Description</label>
            <br/>
            <textarea type="text" name="description" #description="ngModel" [(ngModel)]="project.description" placeholder="Introduce the description..." required></textarea>


            <span *ngIf="description.touched && !description.valid" class="unvalid">
                Description is required
            </span>
        </p>
        <p>
            <label for="category">Categoty</label>
            <br/>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" placeholder="Introduce the category..." required />

            <span *ngIf="category.touched && !category.valid" class="unvalid">
                Category is required
            </span>
        </p>
        <p>
            <label for="year">Year</label>
            <br/>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required/>

            <span *ngIf="year.touched && !year.valid" class="unvalid">
                Year is required
            </span>

        </p>
        <p>
            <label for="lang">Language</label>
            <br/>
            <input type="text" name="lang" #lang="ngModel" [(ngModel)]="project.langs" placeholder="Introduce the languages..." required/>

            <span *ngIf="lang.touched && !lang.valid" class="unvalid">
                Language is required
            </span>
        </p>

        <p>
            <label for="img">Image</label>
            <br/>

            <div class="img" *ngIf="project.image">
                <img src="{{url + '/getImage/'+ project.image}}" width="100px" />
            </div>

            <input type="file" name="image" (change)='fileChangeEvent($event)' />


            <input type="submit" value="Send" [disabled]="!projectForm.form.valid" />
    </form>
</div>