<div id="title">

    <h1>{{title}}</h1>
    <hr/>
    <h2>{{subtitle}}</h2>
    <p><a href="{{git}}">{{git}}</a></p>

</div>

<article class="about">

    <h2>About me</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet interdum quam, vel mollis libero. Mauris vel nulla lorem. Maecenas lacinia fermentum felis faucibus sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Duis et dui sed augue interdum sodales condimentum nec metus. Nam vel purus dui. Aliquam eu fermentum turpis. Vivamus mattis risus vel placerat bibendum. Vestibulum iaculis convallis dui eget ultrices. In quis massa odio. Cras eu dui feugiat risus
        rhoncus eleifend in et leo. Nullam et purus dui. In quis dignissim nisl. Sed et quam dui.
    </p>

</article>